:root {
  --m3-headline-small-font-family: "Roboto", Helvetica;
  --m3-headline-small-font-size: 24px;
  --m3-headline-small-font-style: normal;
  --m3-headline-small-font-weight: 400;
  --m3-headline-small-letter-spacing: 0px;
  --m3-headline-small-line-height: 32px;
  --m3-label-medium-prominent-font-family: "Roboto", Helvetica;
  --m3-label-medium-prominent-font-size: 12px;
  --m3-label-medium-prominent-font-style: normal;
  --m3-label-medium-prominent-font-weight: 600;
  --m3-label-medium-prominent-letter-spacing: 0.5px;
  --m3-label-medium-prominent-line-height: 16px;
}
